<header class="flex justify-end">
    <span>Bag(<span class="cart-count">{{ cart.item_count }}</span>)</span>
</header>
{% schema %}
    {
        "name": "header",
        "settings": [
        
        ]
    }
{% endschema %}
